/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background: #bbbbbb;
   /* top | right | bottom | left */
    margin: 0 20px 20px 20px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.card {
    /* top | right | bottom | left */
    margin: 0 0 8px 0;
    background-color: rgb(219, 250, 232)
}

h1 {
    font-family: Calibri, Times New Roman, serif;
    text-align: center;
    color: rgb(36, 36, 36);
}


.input-width {
    min-width: 150;
    max-width: 500px;
    width: 100%;
}

.newcard {
    /* top | right | bottom | left */
    margin: 0 0 8px 0;
    background-color: rgb(255, 255, 255)
}

.task-done {
    background-color: blue;
}

.task-not-done {
    background-color: yellow;
}
